@using Microsoft.FluentUI.AspNetCore.Components
@inherits LayoutComponentBase

<main>
    @Body
</main>


<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />