@page "/"
@inherits OwningComponentBase
@inject IToastService ToastService
@inject HttpClient HttpClient
@inject IDialogService DialogService
@inject NavigationManager NavigationManager

<div
<FluentStack VerticalGap="20"
             Style="position: fixed; top: 50%; left: 50%; margin-left: -150px; margin-top: -200px">

    <FluentHorizontalScroll Class="full-width" Style="width: 300px" Speed="1200" Easing="ScrollEasing.EaseInOut">
               <FluentCard>
           <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Center">
               <FluentTextField Style="width: 100%" Autofocus AutoComplete="on" @bind-Value=UserName Label="UserName" Required></FluentTextField>
               <FluentTextField Style="width: 100%" @bind-Value=Password Label="Password" TextFieldType="TextFieldType.Password" Required></FluentTextField>
               <FluentButton Appearance="Appearance.Accent" OnClick="Login" Loading="IsLoading">Login</FluentButton>
               <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
               <FluentButton Appearance="Appearance.Outline" OnClick="LoginGoogle">Google</FluentButton>

               <FluentButton Appearance="Appearance.Lightweight" OnClick="@(x => NavigationManager.NavigateTo("register"))">Register</FluentButton>
           </FluentStack>
       </FluentCard>
        <FluentCard>Card number 2</FluentCard>
    </FluentHorizontalScroll>
</FluentStack>
</div>  